
<div class="ui window segment maximized" id="<%= @document[:slug] %>" data-slug="<%= @document[:slug] %>">
  <div class="ui compact segment">
    <div class="ui tiny top attached menu headbar">
      <a class="active header item">
        <i class="<%= @document[:icon] || 'file outline' %> icon"></i>
        <%= @document[:title].html_safe %>
      </a>
      <!-- a class="item">
        Come up with a way to add buttons! YAR!
      </a -->
      <div class="right menu">
        <div class="ui small basic borderless icon buttons">
          <button class="ui button"><i class="question icon"></i></button>
          <button class="ui button minimize window"><i class="window minimize outline icon"></i></button>
          <button class="ui button restore window"><i class="window restore outline icon"></i></button>
          <button class="ui button maximize window hidden"><i class="window maximize outline icon"></i></button>
          <button class="ui button close window"><i class="window close outline icon"></i></button>
        </div>
      </div>
    </div>
    <div class="ui bottom attached segment">
      <%= @document[:html].html_safe %>
    </div>
  </div>
</div>

