
<div class="ui window segment maximized"
     id="<%= @document[:slug] %>"
     data-slug="<%= @document[:slug] %>"
     data-icon="<%= @document[:icon] %>"
     data-title="<%= @document[:title] %>"
>
  <div class="ui compact segment">
    <div class="ui tiny top attached menu headbar">
      <strong class="active header item">
        <i class="file alternate outline icon"></i>
        <%= @document[:title].html_safe %>
      </strong>
      <div class="item">
        <i class="calendar alternate outline icon"></i>
        Published: <%= @document[:date].html_safe %>
      </div>
      <div class="right menu">
        <div class="ui small basic borderless icon buttons">
          <button class="ui button"><i class="question icon"></i></button>
          <button class="ui button minimize window"><i class="window minimize outline icon"></i></button>
          <button class="ui button restore window"><i class="window restore outline icon"></i></button>
          <button class="ui button maximize window hidden"><i class="window maximize outline icon"></i></button>
          <button class="ui button close window"><i class="window close outline icon"></i></button>
        </div>
      </div>
    </div>
    <div class="ui bottom attached segment blog-grid">
      <div class="blog-index">

        <div class="ui vertical fluid tabular menu">
          <% @posts.each do |post| %>
            <a href="<%= post[:slug].gsub('blog-','') %>" class="follow item <%= 'active' if post[:slug] == @document[:slug] %>">
              <i class="<%= post[:icon] %> icon"></i>
              <%= post[:title] %>
              <small><%= post[:date] %></small>
            </a>
          <% end %>
        </div>

      </div>
      <div class="blog-content">
        <%= @document[:html].html_safe %>
      </div>

    </div>
  </div>
</div>

